.selected {
    text-decoration: line-through ;
    font-style: italic;
    color: rgb(227, 11, 11);
  }

  input {
      width: 100%;
      padding: 5px;
      margin: 5px 5px 5px 0px;
      box-sizing: border-box;

  }
  :valid{
      color: rgb(20, 20, 19);
  }

  


